.ct {
    text-align: center;
}

.alert ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.book-cover {
    background: purple;
    object-fit: cover;
    object-position: 0 0;

    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-inline * {
    margin: 2px;
}

textarea{
    box-sizing: border-box;
    min-height:12em;
    width: 100%;
}